<html>
  <head>
    <title>{{title}}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
  </head>
  <body>
    <h1>{{title}}</h1>
    <p>Welcome to my portfolio website!</p>
    <h2>My GitHub Activity</h2>
    {{#each activities}}
      <p>
        {{this.repo.name}}
        -
        {{this.type}}
        -
        {{this.payload.action}}
        {{this.payload.ref}}
      </p>
    {{/each}}
  </body>
</html>