<div class="container">
  <h1>Student form</h1>
  <form id="student-form" action="{{action}}" method="{{method}}" _method="{{method}}">
    <input type="hidden" name="teacherId" value="1"/>
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="firstName" value="{{student.firstName}}" placeholder="First Name" required />
    <br />
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lastName" value="{{student.lastName}}" placeholder="Last Name" required />
    <br />
    <label for="student-age">Age:</label>
    <input type="text" id="student-age" name="age" value="{{student.age}}" placeholder="Age in years" required />
    <br />
    <label>Gender:</label>
    <input type="radio" id="gender-male" value="Male" name="gender"
      {{#if (ifEquality student.gender "Male")}}checked{{/if}} required />
    <label for="gender-male">Male</label>
    <input type="radio" id="gender-female" value="Female" name="gender"
      {{#if (ifEquality student.gender "Female")}}checked{{/if}} required />
    <label for="gender-female">Female</label>
    <br />
    <input class="btn btn-primary" type="submit" value="Add Student" />
  </form>
</div>